form {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
}

form input {
  border: 1px solid var(--theme-blue);
  padding: 10px 30px;
  border-radius: 50px;
  width: 300px;
}

form button {
  padding: 10px 40px;
  border-radius: 50px;
  background: var(--theme-blue);
  color: #ffffff;
  outline: 0;
  border: 0;
}

.filter-btn {
  display: flex;
  gap: 20px;
}

.blogs-card {
  position: relative;
}

.blogs-card .date {
  background: var(--theme-blue);
  padding: 5px 20px;
  border-radius: 0 20px 20px 0;
  position: absolute;
  top: 5%;
  left: 0;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.blogs-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blogs-card .content {
  background: #f3f3f3;
  padding: 30px;
  height: 236px;
}

.blogs-card .content p {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
}


.blogs-card .content h3 {
  font-size: 20px;
  color: var(--theme-blue);
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
}

.blogs-card .content a {
  font-size: 16px;
  color: var(--theme-blue);
  font-weight: 600;
}

/* -----------------------------blog-details styles---------------------- */

#blog-details {
  margin-top: 80px;
}

#blog-details .blog-main-img {
  width: 100%;
  height: 400px;
  position: relative;
  padding: 0;
  margin-bottom: 30px;
}

#blog-details .blog-main-img::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  left: 0;
  border-radius: 30px;
  background: linear-gradient(to top, var(--theme-blue), transparent);
}
#blog-details .blog-main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  object-position: 10% 20%;
}

#blog-details .blog-main-img .blogs-title {
  position: absolute;
  bottom: 30px;
  left: 50px;
  font-size: 30px;
  margin-bottom: 0;
  color: #ffffff;
  font-weight: 800;
  width: 80vw;
}
#blog-details .posted-date a {
  font-size: 20px;
  color: var(--theme-blue);
  font-weight: 600;
}

#blog-details .blog-full-content p strong {
  font-weight: 600;
  font-size: 20px;
}

#blog-details .filter-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--theme-blue);
  margin-bottom: 20px;
}

#blog-details .blog-attributes ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#blog-details .blog-attributes ul li {
  display: inline;
  padding: 5px 15px;
  background: #9ee2ff;
  color: black;
  font-size: 14px;
  border-radius: 20px;
  flex-grow: 1;
  text-align: center;
}

#blog-details .blog-attributes ul li a {
  color: black;
}

#blog-details h2.wp-block-heading {
  font-size: 26px !important;
  font-weight: 600;
  margin-top: 50px;
}
#blog-details h3.wp-block-heading {
  font-size: 20px !important;
}

#blog-details h3.wp-block-heading strong{
  font-weight: 600 !important;

}
.reading-status {
  background: linear-gradient(
    to right,
    var(--theme-blue),
    var(--theme-sblue),
    var(--theme-sblue)
  );
  height: 5px;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.blog-attributes .all-tag-div,
.archive-filter {
  height: 100px;
  overflow-y: scroll;
  padding-right: 10px;
}

.blog-attributes .all-tag-div::-webkit-scrollbar,
.archive-filter::-webkit-scrollbar {
  width: 0px;
  transition: all 0.4s ease;
}
.blog-attributes .all-tag-div:hover::-webkit-scrollbar,
.archive-filter:hover::-webkit-scrollbar {
  width: 3px;
}

.archive-filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.archive-filter ul li{
  flex-grow: 1;
}

.archive-filter ul li a {
  color: var(--theme-blue);
}

/* ----------------------------pagination---------------------- */
.pagination {
  justify-content: center !important;
  gap: 20px !important;
  margin-top: 20px;
}

.pagination a {
  font-family: "Sora", sans-serif;
  padding: 2px 5px;
  color: var(--theme-blue);
}

.pagination .current {
  background: var(--theme-blue);
  padding: 2px 10px;
  border-radius: 20px;
  color: #ffffff;
}

.next-prev-blog {
  justify-content: space-between;
}

.next-prev-blog .previous-post,
.next-prev-blog .next-post {
  display: flex;
  flex-direction: column;
}

.next-prev-blog .next-post {
  text-align: end;
}

.next-prev-blog .previous-post a,
.next-prev-blog .next-post a {
  overflow: hidden;
  padding: 5px 0;
  color: var(--theme-blue);
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline;
  max-width: 200px; /* Adjust the max-width as needed */
}

.next-prev-blog .nav-blog-btn {
  font-size: 20px;

  font-weight: 600;
  border-bottom: 1px solid var(--theme-sblue);
}

.blog-category-filter{
  display: flex;
  gap: 20px;
}

.blog-category-filter select {
  border: 0px solid var(--theme-blue);
  padding: 0 30px;
  border-radius: 0px;
  width: auto;
  cursor: pointer;
}
.blog-category-filter select option {
  padding: 10px;
  background-color: #fff;
  border-radius: 0;
}