.brand-banner-scroll {
  height: 1200px;
}
#content-trigger {
  height: 400px;
}

.brand-card {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 80vh;
  margin: 100px 0;
  overflow: hidden;
}

.brand-card .first-card,
.brand-card .second-card {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  /* border-radius: var(--border-rad); */
}
.brand-card .first-card {
  display: flex;
}

.brand-card .second-card {
  border-radius: var(--border-rad);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .brand-card .second-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0000005d;
  border-radius: var(--border-rad);
  backdrop-filter: blur(10px);
} */



.brand-card .first-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.brand-card .first-card .first-img {
  padding: 20px;
  width: 50%;
  background-color: #ffffff;
}

.brand-card .first-card .first-img img {
  border-radius: var(--border-rad);
}

.brand-card .first-card .second-img {
  background-color: #ffffff;
  padding: 60px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  position: relative;
}
.brand-card .first-card .second-img .collab-logo {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  font-size: 30px;
  color: var(--theme-blue);
  font-weight: 400;
}

.brand-card .first-card .second-img .collab-logo img {
  width: 130px;
  height: 48px;
  object-fit: contain;
}

.brand-card .first-card .second-img .heading {
  position: relative;
}
.brand-card .first-card .second-img .heading svg {
  position: absolute;
  bottom: 20px;
}

.brand-card .first-card .second-img .heading h1 {
  font-size: 45px;
  color: var(--theme-blue);
  font-weight: 400;
  position: relative;
  z-index: 9;
}
.brand-card .first-card .second-img h1 span {
  color: transparent;
  font-weight: 800;
  background: linear-gradient(-100deg, var(--theme-blue), var(--theme-blue));
  -webkit-background-clip: text;
  background-clip: text;
}
.brand-card .first-card .second-img p {
  margin: 0;
  width: 80%;
}

.brand-card .first-card .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 10px;
  width: 100%;
  text-align: center;
}

.brand-card .second-card .content {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 2px solid #ffffff;
}

.brand-card .second-card .content video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.brand-card .first-card .content h1 {
  font-size: 90px;
  font-weight: 800;
  color: #ffffff;
}

.brand-card .second-card .content img {
  width: 500px;
  height: 200px;
  object-fit: contain;
}

.brand-card .second-card .content p {
  font-size: 20px;
  font-weight: 400;
  /* color: var(--theme-blue); */
  color: #ffffff;
}

/* --------------------------------------devices------------------------------------- */
#devices {
  /* background: #f3f3f3; */
  background: linear-gradient(180deg, #f3f3f3, #ffffff);
  position: relative;
}
#devices .device-circle-1 {
  background: #fee500;
  position: absolute;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  left: -20%;
  top: 10%;
  filter: blur(80px);
  opacity: 0.3;
}
#devices .device-circle-2 {
  background: #00a3ee;
  position: absolute;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  right: -20%;
  bottom: 10%;
  filter: blur(80px);
  opacity: 0.3;
}

#brand-features .device-circle-1 {
  background: #fee500;
  position: absolute;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  left: -20%;
  top: 10%;
  filter: blur(80px);
  opacity: 0.3;
}
#brand-features .device-circle-2 {
  background: #11c019;
  position: absolute;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  right: -20%;
  bottom: 10%;
  filter: blur(80px);
  opacity: 0.3;
}
.device-gallery {
  display: flex;
}

.device-left {
  width: 50%;
}

.device-details-wrapper {
  margin: auto;
  width: 80%;
}

.device-details {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.device-details .device-num {
  font-family: "Sora", sans-serif;
  font-size: 50px;
  color: var(--theme-blue);
  font-weight: 800;
  transform: translate(25px, 25px);
}
.device-details .content {
  padding: 25px;
  border-radius: var(--border-rad);
  background: #ffffff;
}

.device-details .content .ms-logo {
  width: 200px;
}

.device-details .content .device-img-mob {
  height: 250px;
  padding-bottom: 15px;
}
.device-details .content .device-img-mob img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-rad);
}

.device-details .content a {
  display: none;
  margin-top: 25px;
  /* display: block; */
  width: 100%;
  color: var(--theme-blue);
  font-size: 16px;
  font-weight: 600;
}

.device-right {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.device-photos {
  width: 100%;
  height: 30vw;
  position: relative;
  border-radius: 10px;
  /* box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.3); */
}

.device-photo {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: #f3f3f3;
  /* border: 5px solid #fff; */
  border-radius: 10px;
}

.device-photo img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  /* mix-blend-mode: darken; */
}

#devices .section-title {
  transform: translateY(50px);
}

#brand-features {
  /* background: linear-gradient(120deg, #c5dcff, #bcd3f1); */
  /* color: #ffffff; */
  background: #f3f3f3;
  position: relative;
}

#brand-features .feature-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#brand-features .feature-title h2 {
  font-size: 70px;
  font-weight: 800;
  color: var(--theme-blue);
}
#brand-features .feature-title h2:first-child {
  margin-right: 200px;
}
#brand-features .feature-title h2:last-child {
  margin-left: 200px;
}

#brand-features .brand-feature-card {
  border: 3px solid #ffffff;
  border-top: 0;
  border-left: 0;
  padding: 40px;
}

#brand-features .brand-feature-card p {
  margin: 0;
}

#brand-features .brand-feature-card h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--theme-blue);
}

#brand-features .brand-feature-card:nth-last-child(1),
#brand-features .brand-feature-card:nth-last-child(2),
#brand-features .brand-feature-card:nth-last-child(3) {
  border-bottom: 0;
}

#brand-features .brand-feature-card:nth-last-child(1),
#brand-features .brand-feature-card:nth-last-child(4) {
  border-right: 0;
}

.brand-cta {
  background: url(../assets/common/bg.webp) no-repeat center / cover;
  height: 400px;
  border-radius: 30px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.brand-cta::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
}

.brand-cta p {
  position: relative;
  z-index: 9;
  font-size: 22px;
  /* opacity: 0; */
}

.brand-cta .brand-btn button {
  width: 500px;
  height: 500px;
  border: 0;
  outline: 0;
  border-radius: 50%;
  background: #ffffff;
  /* backdrop-filter: blur(5px); */
  color: var(--theme-blue);
  font-weight: 600;
  font-size: 60px;
  transform: translate3d(-25%, 20%, 0);
}

.brand-cta h2 {
  /* position: absolute; */
  font-size: 70px;
  font-weight: 800;
  /* bottom: -35px; */
}

#brand-solutions .each-brand-solutions {
  padding: 20px;
  border-radius: var(--border-rad);
  position: relative;
  height: 450px;
  display: flex;
  transition: all 0.4s ease;
}
#brand-solutions .each-brand-solutions:hover {
  transform: scale(1.02);
}
#brand-solutions .each-brand-solutions .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
}
#brand-solutions .each-brand-solutions::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, #f8f8f8 60%, transparent);
  border-radius: var(--border-rad);
  width: 100%;
  height: 70%;
}

#brand-solutions .each-brand-solutions.cisco {
  background: url(../assets/brands/cisco/banner.avif) no-repeat center / cover;
}

#brand-solutions .each-brand-solutions.jabra {
  background: url(../assets/brands/jabra/jabra-banner.webp) no-repeat center /
    cover;
  background-position: 100%;
}

#brand-solutions .each-brand-solutions.logitech {
  background: url(../assets/brands/logitech/logitech-banner.webp) no-repeat
    center / cover;
  background-position: 0%;
}
#brand-solutions .each-brand-solutions.yealink {
  background: url(../assets/brands/yealink/banner.webp) no-repeat center / cover;
  background-position: 60%;
}

#brand-solutions .each-brand-solutions.preclinic {
  background: url(../assets/brands/simstation/preclinic.webp) no-repeat center /
    cover;
  background-position: 60%;
}

#brand-solutions .each-brand-solutions.education {
  background: url(../assets/brands/simstation/education.webp) no-repeat center /
    cover;
  background-position: 20%;
}

#brand-solutions .each-brand-solutions.exam {
  background: url(../assets/brands/simstation/exam.webp) no-repeat center / cover;
  background-position: 90%;
}

#brand-solutions .each-brand-solutions.disaster {
  background: url(../assets/brands/simstation/disaster.webp) no-repeat center /
    cover;
  background-position: 20%;
}

#brand-solutions .each-brand-solutions a {
  font-weight: 600;
  color: var(--theme-blue);
  text-align: center;
}

#brand-solutions .each-brand-solutions h4 {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: var(--theme-sblue);
}

#brand-solutions .each-brand-solutions p {
  font-weight: 400;
  color: #000000;
  text-align: center;
}

#brand-solutions .each-brand-solutions img {
  width: 100%;
  height: 80px;
  object-fit: contain;
  margin-bottom: 15px;
  padding: 0 35px;
}



.sim-components .sim-left img{
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: var(--border-rad);
  background: #f3f3f3;

}


.sim-components .sim-right{
  padding: 30px;
  border-radius: var(--border-rad);
}