#header {
  background: #ffffff;
  transform: translateY(0px);
  transition: all 0.5s linear;
}
#header nav .navigation-list li a {
  color: var(--theme-blue);
}

#header .search-button button {
  background-color: #00193627;
  color: var(--theme-blue);
}
#header .header-logo img {
  filter: unset;
}
.common-banner {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.banner-shape {
  position: relative;
  text-align: center;
}

.banner-shape img {
  width: 530px;
  height: 530px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 9;
  position: relative;
  outline: 15px solid #ffffff;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 90% 0;
  }
  60% {
    background-position: 60%;
  }
  75% {
    background-position: 40%;
  }
  100% {
    background-position: 0 0;
  }
}


.banner-shape .circle-1 {
  position: absolute;
  width: 450px;
  height: 450px;
  /* background: #2f4d6f; */
  background: var(--theme-blue);
  background-size: cover;
  border-radius: 50%;
  left: -15%;
  bottom: -15%;
}

.circle-text svg{
    position: absolute;
    left: 15%;
    bottom: 0;
}

.banner-shape .circle-2 {
  position: absolute;
  width: 550px;
  height: 550px;
  /* background: #7399C2; */
  background: var(--theme-sblue);
  background-size: cover;
  -webkit-animation: move 10s ease infinite alternate;
  animation: move 10s ease infinite alternate;
  border-radius: 50%;
  right: -20%;
  top: -28%;
}

.common-banner-text {
  position: relative;
  width: auto;
}

.common-banner-title {
  text-transform: capitalize;
  font-weight: 900;
  font-size: 90px;
  display: flex;
  gap: 19px;
  z-index: 9;
  color: var(--theme-blue);
}

.common-banner-title span{
  font-family: "Sora", sans-serif;
}

.common-banner-sub {
  font-size: 28px;
  width: auto;
}


.common-banner .scroll {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* align-items: center; */
  gap: 10px;
  left: 0%;
  bottom: 0%;
  width: auto;
  animation: updown 1.5s linear infinite;

}

.common-banner .scroll img {
  width: 50px;
  height: 50px;
}

.common-banner .scroll p {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

.box-content {
  border-radius: 15px;
  background-color: #f3f3f3;
  padding-left: 30px;
  padding-right: 30px;
}

.back-home{
  margin-top: 20px;
  font-size: 24px;
  color: #ffffff;
  font-weight: 600;
  background: linear-gradient(120deg, var(--theme-blue),var(--theme-sblue));
  padding: 5px 30px;
  border-radius: 30px;

}
