form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

form .form-field {
  width: 48%;
  padding: 20px;
  border-radius: 0;
  border: 0;
  background-color: #f3f3f3;
}

form textarea {
  padding: 10px 20px;
  border-radius: 0;
  border: 0;
  background-color: #f3f3f3;
}

.form-heading {
  font-weight: 600;
  color: var(--theme-blue);
  margin-bottom: 25px;
}



.contact-form-content ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 30px;
  margin-top: 25px;
}

.contact-form-content ul li a {
  font-size: 25px;
  cursor: pointer;
  color: var(--theme-blue);
}

.all-locations {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
}

.all-locations .each-location {
  width: 100px;
  height: 400px;
  background-color: var(--theme-blue);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px 0;
  border-radius: 100px;
  transition: all 0.6s ease;
  /* cursor: pointer; */
}

.all-locations .each-location.active {
  width: 450px;
  /* height: 350px; */
  background-color: #ffffff;
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: center;
  padding: 10px 40px;
  border-radius: 50px;
  border: 1px solid var(--theme-blue);
}

.all-locations .each-location .location-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ffffff;
  padding: 15px;
  transform: translateX(10px);
}

.all-locations .each-location.active .location-icon {
  display: none;
}

.all-locations .each-location .location-icon img {
  width: 100%;
  height: 100%;
  /* filter: brightness(0); */
  object-fit: contain;
}

.all-locations .each-location h3 {
  transform: translateY(-40px) rotate(-90deg);
  color: #ffffff;
  font-weight: 600;
}

.all-locations .each-location.active h3 {
  transform: unset;
  color: var(--theme-blue);
  font-weight: 600;
}

.all-locations .each-location.active .complete-details {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 5px;
  padding: 10px;
  opacity: 1;
  z-index: 1;
  width: unset;
  height: unset;
  /* justify-items: center; */
}

.all-locations .each-location .complete-details {
  display: none;
  /* transition: all 2s ease; */
  opacity: 0;
  z-index: -1;
  width: 0;
  height: 0;
}

.sending-mail {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: #ffffffb7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  display: none;
}

.sending-mail #lottie-container, .sending-mail #lottie-container2{
  width: 300px;
  height: 300px;
}

.sending-mail p{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
