.main_wrapper {
  position: relative;
  height: min(55vh, 680px);
}

.wrapper_1 {
  position: absolute;
  top: 0%;
  left: 44%;
  gap: 10px;
  transition: 0.5s all;
}

.wrapper_1 .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper_1 .circle:hover {
  cursor: pointer;
}

.wrapper_1 .circle .cont {
  text-align: center;
  opacity: 0;
  padding: 20px;
}

.wrapper_1 .circle .cont h3 {
  font-size: 35px;
  font-weight: 600;
}

.wrapper_1 .circle {
  background: #ffffff;
}

.wrapper_1 .circle6 {
    background: #ffffff url(../assets/common/resurgent-logo.webp);
    background-repeat: no-repeat;
    background-size: cover;

  }

  .culture-card img{
    width: 100%;
    height: 250px;
    border-radius: 15px;
    object-fit: cover;
  }

  .owl-connected .owl-nav button {
    margin: 20px 10px 0px !important;
    background-color: var(--theme-blue) !important;
    display: flex;
    width: 80px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50px !important;
    color: #ffffff !important;
}
